.gpt3__blog{
    display: flex;
    flex-direction: column;
}
.gpt3__blog-heading h1{
    font-family: var(--font-family);
    max-width: 500px;
    font-size: 40px;
    font-weight: 800;
    margin: 1rem 0 3rem;
}
.gpt3__blog-container{
    display: flex;
}
.gpt3__blog-container_groupA{
    flex: 0.7;
}