.gpt3__features-container__feature{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    margin: 1rem;
    height: auto;
}

.gpt3__features-container__feature-title{
    flex: 1;
    margin-right: 2rem;
    padding-top: 0px;
}
.gpt3__features-container__feature-title h1{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: white;
    letter-spacing: -0.04em;
}
.gpt3__features-container__feature-title div{
    width: 38px;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
}

.gpt3__features-container_feature-text{
    flex: 2;
    max-width: 650px;
    display: flex;
    margin-top: 1.5rem;
}
.gpt3__features-container_feature-text p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-text);
}