.gpt3__features{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.gpt3__features-heading{
    flex: 2;
    max-width: 426px;
}

.gpt3__features-heading p{
    color: var(--color-subtext);
    margin-top: 1rem;
}
.gpt3__features-container{
    width: 590px;
}